@{   
    ViewData["Title"] = "INÍCIO -";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/homepage.css" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <div class="text">BEST BURGUERS IN GALAXY</div>
        <div class="p">Entrega Grátis<div class="p">Peça já o seu !</div> </div>
        <a href="~/Cardapio/Cardapio" class="p-cardapio">VER CARDÁPIO<i class='bx bxs-hand-up'></i></a>
    </div>
</body>
</html>