@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;    
}

body {
    background: url(../images/home-bg.jpg);   
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

header {
    position: fixed;
    height: 80px;
    top: 0%;
    left: 0%;
    right: 0%;
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-family: "PT Sans Narrow", sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem 6rem;
}
.icones-img { 
    width: 18px;
    height: 18px;  
}
.right-items {    
    font-size: 20px;    
    font-weight:800;
    text-transform:uppercase;
    color:greenyellow;     
}
.login-text {
    margin-right: 2px;
    letter-spacing: 2px;
}


.logo {
    display: flex;
    align-items: center;
    letter-spacing:3px;
}

    .logo h1 {
        font-weight: 600;
        font-size: 30px;
        color: white;
        text-decoration: none;
    }

.nav-list {
    display: flex;
    align-items: center;
}

    .nav-list ul {
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        list-style: none;
    }

        .nav-list ul li i {
            font-size: 15px;
            margin-left: 2px;
        }

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

header .nav-list ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

    header .nav-list ul li {
        margin-left: 10px;
        position: relative;
        float: left;
    }

        header .nav-list ul li a {
            font-family: "PT Sans Narrow", sans-serif;
            margin-top: 10px;
            font-weight: 400;
            font-size: 18px;
            padding: 0 5px;
            color: white;
            cursor: pointer;
            display: block;
            text-decoration: none;
            letter-spacing: 2px;
        }

            header .nav-list ul li a:hover {
                color: white;
                border-bottom: 2px solid gold;
                z-index: 1000;
            }

        header .nav-list ul li ul {
            position: absolute;
            right: 0;
            width: 200px;
            display: none;
        }

            header .nav-list ul li ul li { /* =========================== LOGIN E CADASTRAR:HOVER =========================== */
                text-align: center;
                justify-content: center;
                margin-top: 1px;
                width: 100%;
                background: rgba(255, 255, 255, 0.5);
                overflow: hidden;
                border-radius: 5px;
            }

                header .nav-list ul li ul li ul {
                    left: 0px;
                    top: 0;
                }

        header .nav-list ul li:hover > ul {
            display: initial;
            z-index: 1000;
        }

.icon-lupa { /*=========================== BARRA DE PESQUISA HEADER ===========================*/
    position: absolute;
    align-items: center;
    right: 10px;
    top: 5px;
    font-size: 20px;
    font-weight: 600;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
    color: white;
    font-weight: 400;
}

.input-search {
    margin-right: 150px;
    height: 40px;
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid gold;
    border-radius: 35px;
}

    .input-search input {
        box-sizing: border-box;
        height: 100%;
        flex: 1;
        font-size: 15px;
        background: transparent;
        outline: none;
        border: none;
        padding: 0 25px;
        color: white;
        font-weight: 400;
        letter-spacing: 2px;
    }

        .input-search input::placeholder {
            letter-spacing: 2px;
            color: white;
            top: 5px;
        }

    .input-search button {
        cursor: pointer;
    }

        .input-search button:hover {
            color: gold;
            font-weight: 400;
        }

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    z-index: 1000;
    display: none;
}



@media screen and (max-width: 1408px) { /*=========================== RESPONSIVIDADE ===========================*/
    .nav-bar {
        padding: 1rem 3rem;
    }
}
@media screen and (max-width: 1311px) { 
    .nav-bar {
        padding: 1rem 2.5rem;
    }
}

    @media screen and (max-width: 1272px) {
        .nav-bar {
            padding: 1rem 2rem;
        }
    }

    @media screen and (max-width: 1200px) {
        .nav-bar {
            padding: 1.5rem 4rem;
        }

        .nav-item {
            display: none;
        }

        .mobile-menu-icon {
            border-radius: 4px;
            display: block;
        }

            .mobile-menu-icon button {
                background: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(5px);
                border-radius: 10px;
                border: none;
                cursor: pointer;
            }

        .mobile-menu ul {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1rem;
            z-index: 1000;
        }

        .mobile-menu .nav-item:hover {
            border-bottom: 2px solid gold;
            color: white;
            z-index: 1000;
        }

        .mobile-menu ul .nav-item a:hover {
            color: white;
        }

        .mobile-menu .nav-item {
            display: block;
            padding-top: 1rem;
            z-index: 1000;
        }

        .open {
            background: #222222;
            display: block;
        }
    }

    @media screen and (max-width: 650px) {

        .logo {
            display: none;
        }

        .right-items {            
            margin-right: 10px;
            font-size: 15px;
        }

        .icones-img {
            width: 15px;
            height: 15px;
        }
    }


